PORT=5000
SUPABASE_PROJECT_REF=yunrneklsqjfoklmjeqm
SUPABASE_URL=https://yunrneklsqjfoklmjeqm.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_X9cN6jY7g9F5UGYmSAxKaQ_S9afPsF3
VITE_SUPABASE_URL=https://yunrneklsqjfoklmjeqm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_X9cN6jY7g9F5UGYmSAxKaQ_S9afPsF3
VITE_API_URL=/api
VITE_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_WALLETCONNECT_PROJECT_ID=
VITE_CONTRACT_ADDRESS=0xF0c7118276eaC7c4BDaCC7e12b8624057614ef70
JWT_SECRET=ubah_dengan_secret_panjang_untuk_production
API_DOCS_PASSWORD=api-docs-admin
PINATA_JWT=
PINATA_GATEWAY=sapphire-wrong-deer-719.mypinata.cloud
CONTRACT_ADDRESS=0xF0c7118276eaC7c4BDaCC7e12b8624057614ef70
BLOCK_EXPLORER_URL=https://sepolia.etherscan.io
